<div id="outer-wrapper" class="showcase">
  <link href="{{pathway}}chartcss/linechart.css" rel="stylesheet" />
  <div class="row" id="furniture">
    <div class="chartTitle row" id="chartTitle">{{{title}}}</div>
    <div class="subTitle row" id="subTitle" tabindex="0" aria-label="{{subtitle}}">{{{subtitle}}}</div>
    <div class="audioControls sr-only">This chart has an audio option for accessibility. Press spacebar or the button to play and pause the chart <button id="playChart">play chart</button></div>
    <div class="notes" id="chartKey" aria-hidden="true"></div>
  </div>
  <div class="row chartSans" id="graphicContainer" aria-hidden="true"></div>
	<div class='footer offset'>
		<div id="annotations"></div>
		<span id="sourceText">Guardian Graphic {{#source}} | Source: {{{source}}}{{/source}} {{{footnote}}}</span>
	</div>
</div>