<div class="showcase" id="outer-wrapper">
	<!-- <link href="{{pathway}}chartcss/sankey.css" rel="stylesheet"> -->
	<div class="row" id="furniture">
		<h1 class='chartTitle' id="chartTitle">
			{{{title}}}
		</h1>
		<h2 class='subTitle' id="subTitle">
			{{{subtitle}}}
		</h2>
		<div class='notes' id='chartKey'></div>
	</div>
	<figure class="row chartSans" id="graphicContainer"></figure>
	<div class='footer offset'>
		<div id="annotations" ></div>
		<span id="sourceText" role="note">Guardian Graphic {{#source}} | Source: {{{source}}}{{/source}} {{{footnote}}}</span>
	</div>
</div>