<div class="showcase" id="outer-wrapper">
	<!-- <link href="{{pathway}}chartcss/sankey.css" rel="stylesheet"> -->
	<div class="row" id="furniture">
		<div class='chartTitle' id="chartTitle">
			{{{title}}}
		</div>
		<div class='subTitle' id="subTitle">
			{{{subtitle}}}
		</div>
		<div class='notes' id='chartKey'></div>
	</div>
	<div class="row chartSans" id="graphicContainer"></div>
	<div class='footer offset'>
		<div id="annotations"></div>
		<span id="sourceText">Guardian Graphic {{#source}} | Source: {{{source}}}{{/source}} {{{footnote}}}</span>
	</div>
</div>