<div class="showcase" id="outer-wrapper">
	<link href="{{pathway}}chartcss/verticalbar.css" rel="stylesheet">
	<div class="row" id="furniture">
		<div class='chartTitle' id="chartTitle">
			{{{title}}}
		</div>
		<div class='subTitle' id="subTitle">
			{{{subtitle}}}
		</div>
		<div class="audioControls sr-only">This chart has an audio option for accessibility. Press spacebar or the button to play the chart <button id="playChart">play chart</button></div>
		<div class='notes' id='chartKey'></div>
	</div>
	<div class="row borderBottom chartSans" id="graphicContainer"></div>
	<div class='footer offset'>
		<div id="annotations"></div>
		<span id="sourceText">Guardian Graphic {{#source}} | Source: {{{source}}}{{/source}} {{{footnote}}}</span>
	</div>
</div>
